.header {
    background-color: #3e2c1d;
    width: 100%;
    min-height: 5rem;
    max-height: 5rem;
    text-align: center;

    .insideHeader{
        margin-inline: 2rem;
        display: flex;
        flex-direction: row;


        .logoImg{
            max-height: 3.5rem;
        }
    }

}
.nav-buttons .btn-custom {
    background-color: #f5e1c1;
    color: #4b3621;
    border-radius: 20px;
    padding: 10px 15px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-buttons .btn-custom:hover {
    background-color: #e3cfab; /* Efeito hover */
}

.content {
    background-color: #3e2c1d;


}

.divContent{
    margin-inline: 2rem;
}





.footer {
    background-color: #3e2c1d; /* Cor do fundo */
    padding: 20px;
    color: #f0e6dc;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
}

.footer-links a {
    margin: 0 15px;
    color: #f0e6dc;
    text-decoration: none;
    font-weight: bold;
}

.footer-links a:hover {
    color: #c59972;
}

.footer-info {
    margin-top: 20px;
}

.footer-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.footer-item i {
    margin-right: 10px;
    color: #f0e6dc;
}

.footer-item span {
    color: #f0e6dc;
}


.loginPage{
    background-color: #3e2c1d;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #f5e1c1;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.login-form h2 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    color: #4b3621;
    margin-bottom: 20px;
}

.form-label {
    font-family: 'Noto Sans', sans-serif;
    color: #4b3621;
}

.btn-custom {
    background-color: #4b3621; /* Cor de fundo do botão */
    color: #f5e1c1; /* Cor do texto do botão */
    border-radius: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-custom:hover {
    background-color: #3c2b18; /* Cor ao passar o mouse no botão */
}
